# vim: ft=gitignore:
# Common ignores
.scripts
.zed_config

# Windows-specific
{{ if ne .chezmoi.os "windows" }}
AppData/
.chezmoiscripts/windows/*
{{ end }}

# Unix-specific
{{ if eq .chezmoi.os "windows" }}
.config/helix
{{ end }}

# Linux-specific
{{ if (ne .chezmoi.os "linux") }}
.config/nushell/
.config/jj/
.chezmoiscripts/linux/*
{{ end }}

# Android-specific
{{ if (ne .chezmoi.os "android") }}
.config/nushell/
.config/jj/
.chezmoiscripts/linux/*
.chezmoiscripts/android/*
{{ end }}

# macOS-specific
{{ if ne .chezmoi.os "darwin" }}
Library/
.chezmoiscripts/darwin/*
{{ end }}

# GUI-specific
{{ if .headless }}
# Zed
.config/zed/
AppData/Roaming/Zed/
# Wezterm
.wezterm.lua
{{ end }}
