{{ if eq .chezmoi.os "windows" }}

Set-ExecutionPolicy Bypass -Scope Process -Force
if (-not (Get-Command scoop -ErrorAction SilentlyContinue))
{
    Write-Host "Installing Scoop..." -ForegroundColor Cyan

    Invoke-RestMethod -Uri https://scoop.sh | Invoke-Expression
    Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression

    # Git is needed for buckets to work
    scoop install git
} else
{
    Write-Host "Scoop is already installed." -ForegroundColor Green
}

{{ end }}
