# vim: set ft=powershell:
# {{ if eq .chezmoi.os "windows" }}

Set-ExecutionPolicy Bypass -Scope Process -Force
if (-not (Get-Command scoop -ErrorAction SilentlyContinue))
{
    Write-Host "Installing Scoop..." -ForegroundColor Cyan

    Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression

    # Git is needed for buckets to work
    scoop install git
} else
{
    Write-Host "Scoop is already installed." -ForegroundColor Green
}

Write-Host "Adding Scoop Buckets..."
# {{ range $name, $url := .packages.scoop_buckets -}}
scoop bucket add {{ $name }} {{ $url }}
# {{ end }}

# {{- $all_apps := list -}}

# {{- range .packages.essentials -}}
#   {{- if hasKey . "scoop" }}{{ $all_apps = append $all_apps (index . "scoop") }}{{ end -}}
# {{- end -}}
# {{- range $all_apps }}
Write-Host "Installing {{ . }}..."
scoop install {{ . }}
# {{- end }}

# {{ end }}
