# vim: set ft=powershell:
# hash: {{ include ".chezmoitemplates/packages.yaml" | sha256sum }}

function Add-ToUserPath
{
    param([string]$PathToAdd)

    $userPath = [Environment]::GetEnvironmentVariable("Path", "User")

    if ($userPath -split ';' -notcontains $PathToAdd)
    {
        $newPath = if ([string]::IsNullOrWhiteSpace($userPath))
        { $PathToAdd
        } else
        { "$userPath;$PathToAdd"
        }

        [Environment]::SetEnvironmentVariable("Path", $newPath, "User")

        $env:Path += ";$PathToAdd"
        Write-Host "Path added to User environment: $PathToAdd" -ForegroundColor Green
    }
}

{{ $pkgData := includeTemplate ".chezmoitemplates/packages.yaml" . | fromYaml -}}

{{ $scoopPackages := list }}
{{ $wingetPackages := list }}
{{ $cargoPackages := list }}
{{ $uvTools := list }}
{{ $npmPackages := list }}
{{ $pipPackages := list }}
{{ $miseTools := list }}
{{ $installScripts := list }}

# Make lists of package for PMs
{{ range $pkgData.packages }}
{{   if and (hasKey . "install") (.install) }}
{{     if hasKey . "scoop" }}
{{       $scoopPackages = mustAppend $scoopPackages .scoop }}
{{     else if hasKey . "winget" }}
{{       $wingetPackages = mustAppend $wingetPackages .winget }}
{{     else if hasKey . "windows_script" }}
{{       $installScripts = mustAppend $installScripts .windows_script }}
{{     else if hasKey . "cargo" }}
{{       $cargoPackages = mustAppend $cargoPackages .cargo }}
{{     else if hasKey . "uv_tool" }}
{{       $uvTools = mustAppend $uvTools .uv_tool }}
{{     else if hasKey . "npm" }}
{{       $npmPackages = mustAppend $npmPackages .npm }}
{{     else if hasKey . "pip" }}
{{       $pipPackages = mustAppend $pipPackages .pip }}
{{     else if hasKey . "mise" }}
{{       $miseTools = mustAppend $miseTools .mise }}
{{     end }}
{{   end }}
{{ end }}

########
# Scoop
########

# Install Scoop
Set-ExecutionPolicy Bypass -Scope Process -Force
if (-not (Get-Command scoop -ErrorAction SilentlyContinue))
{
    Write-Host "Installing Scoop..." -ForegroundColor Cyan

    Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression

    # Git is needed for buckets to work
    scoop install git
} else
{
    Write-Host "Scoop is already installed." -ForegroundColor Green
}

# Add required buckets
Write-Host "Adding Scoop Buckets..." -ForegroundColor Cyan

$currentBuckets = scoop bucket list
{{ range $pkgData.scoop_buckets -}}
if (-not ($currentBuckets -match "{{ .name }}"))
{
    scoop bucket add {{ .name }} {{ .url }}
}
{{ end }}

scoop update

# Install Scoop packages
$scoopInstalled = Get-ChildItem -Path "$env:USERPROFILE\scoop\apps" | Select-Object -ExpandProperty Name

Write-Host "Installing missing Scoop packages..." -ForegroundColor Cyan
{{ range $scoopPackages }}
if ("{{ . }}" -notin $scoopInstalled)
{
    Write-Host "Installing {{ . }}..." -ForegroundColor Gray
    scoop install {{ . }}
}
{{ end }}

$env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")
Add-ToUserPath -PathToAdd "$env:USERPROFILE\scoop\shims"

#########
# WinGet
#########

Write-Host "Installing missing WinGet packages..." -ForegroundColor Cyan
{{ range $wingetPackages }}
winget list --id "{{ . }}" --exact --source winget --accept-source-agreements > $null 2>&1

if ($LASTEXITCODE -ne 0)
{
    winget install --id "{{ . }}" --silent --accept-source-agreements --accept-package-agreements
}
{{ end }}

##########################
# Windows install scripts
##########################

Write-Host "Installing missing software via install scripts..." -ForegroundColor Cyan

{{ range $installScripts }}
Write-Host "Installing via {{ . }}..." -ForegroundColor Gray
{{   . }}
{{ end }}

$env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")

#######
# Mise
#######

# Add mise shims to global Path, so they are accessible not only in Nu
$miseDataDir = "$env:LOCALAPPDATA\mise"
$miseShims = "$miseDataDir\shims"

Add-ToUserPath -PathToAdd $miseShims

# Install mise tools
Write-Host "Installing missing software via mise..." -ForegroundColor Cyan

mise use -g {{ range $miseTools }}{{ $name := .name }}{{ range .versions }}{{ $name }}@{{ . }} {{ end }}{{ end }}

# Update Path
$env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")

#############
# uv Pythons
#############

{{ if not .ephemeral }}
Write-Host "Installing missing Python toolchains via uv..." -ForegroundColor Cyan
uv python install {{ $pkgData.uv_pythons | join " " }}
{{ end }}

###########
# uv tools
###########

Write-Host "Installing missing tools via uv..." -ForegroundColor Cyan

[string]$currentUvTools = uv tool list
{{ range $uvTools }}
if (-not ($currentUvTools -match "{{ . }}"))
{
    uv tool install {{ . }}
}
{{ end }}

###############
# pip packages
###############

Write-Host "Installing missing pip packages..." -ForegroundColor Cyan

uv pip install --system {{ $pipPackages | join " " }}

###############
# npm packages
###############

Write-Host "Installing missing npm packages..." -ForegroundColor Cyan
npm install --global {{ $npmPackages | join " " }}

#############
# Rust tools
#############

$env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")
Add-ToUserPath -PathToAdd "$env:USERPROFILE\.cargo\bin"

if (Get-Command "cargo" -ErrorAction SilentlyContinue)
{
    Write-Host "Installing missing Cargo packages..." -ForegroundColor Cyan
    cargo binstall --no-confirm {{ $cargoPackages | join " " }}
}
